<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>{{ title }}</title>
		<link rel='stylesheet' href='assets/styles.css' />
        <style>
            /* http://prismjs.com/download.html?themes=prism-twilight*/
            code,pre{color:#fff;background:0 0;font-family:Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;text-align:left;text-shadow:0 -.1em .2em #000;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}:not(pre)>code,pre{background:#141414}pre{border-radius:.5em;border:.3em solid #545454;box-shadow:1px 1px .5em #000 inset;margin:.5em 0;overflow:auto;padding:1em}pre::-moz-selection{background:#27292a}pre::selection{background:#27292a}code::-moz-selection,pre::-moz-selection{text-shadow:none;background:hsla(0,0%,93%,.15)}code::selection,pre::selection{text-shadow:none;background:hsla(0,0%,93%,.15)}:not(pre)>code{border-radius:.3em;border:.13em solid #545454;box-shadow:1px 1px .3em -.1em #000 inset;padding:.15em .2em .05em;white-space:normal}
        </style>
	</head>
	<body>
		{{ content | safe }}
	</body>
</html>