:root {
	--black: #111;
	--black-gray: #222;
	--white-gray: #eee;
	--white: #fff;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg: var(--white);
		--fg: var(--black);
		--gray: var(--black-gray);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--black);
		--fg: var(--white);
		--gray: var(--white-gray);
	}
}

body {
	font-family: "Open Sans", sans-serif;
	color: var(--fg);
	background-color: var(--bg);
	line-height: 1.4;
	min-height: 100%;
	position: relative;
	margin: 0;
}

main {
	margin: 1em;
	clear: both;
}

header h1 {
	text-align: center;
}

section,
header {
	margin: 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}
h1 {
	line-height: 1.2;
	font-size: 3em;
}
h2 {
	font-size: 1.75em;
}

p {
	margin: 1em 0;
}

footer {
	padding: 1rem;
	background: var(--gray);
	text-align: center;
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	bottom: 0;
}

footer a {
	color: var(--bg);
}

@media screen and (min-width: 680px) {
	main {
		margin: 0 100px 0 170px;
		max-width: 680px;
	}
}
@media screen and (min-width: 1020px) {
	main {
		margin: 0 auto;
	}
}

.anchor {
	color: var(--gray);
	text-decoration: none;
}
.anchor:hover,
.anchor:focus {
	text-decoration: underline;
}
