---
layout: base.njk
title: gitsnippity
---

<header>
    <h1>gitsnippity</h1>
</header>

<button id="lightswitch">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-moon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
</button>

<main>
    {% for snippet in snippets %}
    <section>
        <h2>
            <a class="anchor" href="#{{ snippet.title | slugify }}" id="{{ snippet.title | slugify }}">{{ snippet.title }}</a>
        </h2>
        <pre class="language-git"><code>{{ snippet.code }}</code></pre>
        {% if snippet.desc %}<p>{{ snippet.desc }}</p>{% endif %}
    </section>
    {% endfor %}
</main>

<footer>
    <a href="https://github.com/uncenter/gitsnippity">GitHub</a>
</footer>